@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', arial;
    color: white;
    margin: 0;
    padding: 0;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#1F2937;
    padding: 20px 0px 20px 100px;
}

.nav-bar h2 {
    font-size: 24px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    padding-right: 1rem;
    font-size: 18px;
    text-decoration: none;
    color: inherit;
    font-style:oblique;
}

.footer-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    background-color: #1F2937;
    color: #fff;
}

.main {
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color:#1F2937;
    padding: 90px;
}

.main-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
}

.main-text h1 {
    font-size: 48px;
    font-weight: bold;
}

.main-text p {
    font-size: 18px;
}

.main-text button {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
}

.main img {
    height: 400px;
    width: auto;
    background-size: contain;
}

.info {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.info h2 {
    color: black;
    font-size: 36px;
    font-weight: 800;
}

.square-container {
    display: flex;
    width: 300px;
    text-align: center;
    justify-content: space-evenly;
}

.square-container div {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.square {
    height: 100px;
    width: 100px;
    border: 5px solid;
    border-color: blue;
    border-radius: 25px;
}

.quote {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    color: black;
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 28px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
}

.quote h4 {
    padding-bottom: 20px;
    padding-right: 10px;
    margin-right: 20px;
    text-align: right;
    font-size: 20px;
}

.call {
    display: flex;
    justify-content: center;
    background-color: #3882F6 ;
    margin: 50px 200px;
    padding: 10px 80px;
    align-items: center;
    border-radius: 5px;
    border-color: none;
}

.call div {
    margin-right: 3rem;
    flex: 1;
    text-align: left;
    color: #fff;
    margin: 5px 30px 30px 50px;
}

.call div h5 {
    font-size: 32px;
    padding: 0;
    margin: 30px 0px 0px 50px;
}

.call button {
    color: #fff;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 5px 25px;
    font-size: 15px;
}